{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estetica Facial e Corporal-Nahra Lopes</title>
    <link  rel="stylesheet" href="{% static 'css/stile.css'%}">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script
</head>
<body>
<nav id="menu">
    <ul>
        <img src = "static/img/logo.png" width="150" height="70" align="center"  alt="Logo da empresa" >
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <li><a href="index" >        Inicial</a></li>
        <li><a href="contato">Contato</a></li>
        <li><a href="localizacao">Localização</a></li>
        <li><a href="sobre">Sobre</a></li>

    </ul>
</nav>



    <div class="content">

        <figure>

		</figure>

		<div id="formulario">
            <h4> Olá, </br>
                Seja Bem Vindo</h4>
             </br>


            Sou Nahra Lopes, Esteticista e Cosmetóloga, acredito que se você está aqui é porque gosta do mundo da Estética, assim como eu !!
            </br></br>
            Aqui você vai achar dicas para o seu dia a dia e resultados de alguns procedimentos.
            </br></br>
            <p>Receba Dicas Gratuitas!</p>

              </br>
        <form id="form">
					<input type="hidden" name="form" value="OK">
					Nome:<br>
					<input type="text" name="nome" id="nome" placeholder="Nome"><br>
					Email:<br>
					<input type="text" name="email" id="email" placeholder="Email"><br><br>
					<button id="botaoSocial"    type="submit" value="Enviar">Enviar</button>
				</form>


		<script>
        	document.getElementById('form').addEventListener("submit", function(event) {
				event.preventDefault();

				nome = document.getElementById('nome').value;
				email = document.getElementById('email').value;

				if(nome != "" && email != ""){
					this.submit();
				}else{
					alert("Preencha corretamente todos os campos");
				}
			});
		</script>

        </div>


    </div>
    <div class="content1">
        <div Id="tag">
           <h3>TRATAMENTOS</h3>
        </div>
        </br>
            <figure1>
			<img src = "static/img/ventosaterapia.jpeg" width="300" height="370"   alt="ventosaterapia" >
		    </figure1>
            <div Id="informacoes">
                <h1>Ventosaterapia</h1></br>
                É um tipo de tratamento natural, no qual são criados vácuos por
                sucção da pele (por meio de ventosas). O vácuo formado estimula a circulação sanguínea
                e com este processo são liberadas as toxinas existentes do sangue
                </br></br>
                Beneficios: Estresse e Ansiedade, Eliminação de dores musculares e pontos gatilhos,
                Melhorar circulação local , Aumento da oxigenação nos tecidos e Relaxar e acalmar o corpo
                e a mente.
            </div>
    </div>
    <div class="content2">

        </br>
            <figure1>
				<img src = "static/img/pedras.jpeg" width="300" height="450"   alt="ventosaterapia" >
		    </figure1>
            <div Id="informacoes">

             <h1>Pedras Quentes</h1></br>

                Se você procura serenidade, relaxamento, calma e paz interior, a terapia das pedras quentes é para você!

             Muito utilizada no inverno, a terapia com pedras quentes é uma massagem feita com pedras de basalto quentes em todo o corpo.
            Ela auxilia no relaxamento muscular e  alivia o estresse acumulado durante a correria do dia a dia.

             A terapia das pedras quentes é milenar, e os chineses a utilizam desde antes da dinastia Shang, ou seja, cerca de 2000 –
            1500 A.C., já se usava as pedras quentes para aliviar músculos cansados.

            Em um ambiente tranquilo e relaxante, é feita uma massagem em todo o corpo com bastante óleo e, na sequência, o terapeuta
            realiza também uma suave massagem com a pedra aquecida deixando-a na pele durante alguns minutos,
            em pontos específicos do corpo, chamados de pontos-chave de acupressão.
            </br> </br>
            Beneficios:Relaxamento profundo: Eliminação de gordura e combate à celulite; Aumento da circulação sanguínea; Revigora o tônus muscular;
            Melhora no fluxo da energia vital; Estimula os processos fisiológicos, como respiração e digestão; Aumento da drenagem linfática;
            Alívio de dores musculares; Diminuição do estresse e tensões; Aumento do bem-estar; Melhora na mobilidade das articulações;
            </div>
    </div>

     <div class="content3">

        </br>
            <figure1>
				<img src = "static/img/drenamax.jpeg" width="300" height="450"   align="left" alt="ventosaterapia" >
		    </figure1>
            <div Id="informacoes">
            <h1>DrenaMax</h1></br>
            Traz um novo conceito de massagem, com as manobras específicas que acompanham, estimulam e
            auxiliam o sistema linfático e neurolinfático, trabalhando assim a drenagem do organismo de
            maneira global. Propicia resultados imediatos e
            benefícios gradativos e duradouros, promovendo saúde, qualidade de vida, beleza e bem-estar.

            A técnica possui manobras especiais conjugadas aos óleos essenciais, e ou aos moduladores
            frequenciais, que irão propiciar uma melhora imediata e duradoura para todos que receberem a massagem. Além de trabalhar os pontos neurolinfáticos, propiciando assim a drenagem de todos os tecidos e sistemas do organismo, assim como seu equilíbrio.
            </br> </br>
            Beneficios:Relaxamento profundo: Eliminação de gordura e combate à celulite; Aumento da circulação sanguínea; Revigora o tônus muscular;
            Melhora no fluxo da energia vital; Estimula os processos fisiológicos, como respiração e digestão; Aumento da drenagem linfática;
            Alívio de dores musculares; Diminuição do estresse e tensões; Aumento do bem-estar; Melhora na mobilidade das articulações;
            </div>
    </div>
</body>
</html>





