{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estetica Nahra Lopes</title>
    <link  rel="stylesheet" href="{% static 'css/styles.css'%}">

</head>
<body>
<nav id="menu">
    <ul>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <li><a href="index" >        Inicial</a></li>
        <li><a href="contato">Contato</a></li>
        <li><a href="localizacao">Localização</a></li>
        <li><a href="sobre">Sobre</a></li>

    </ul>
</nav>
 <div class="content1">
     <figure1>
			<img src = "static/img/sobre.png" width="300" height="500" align="center"  alt="Logo da empresa" >
     </figure1>
    <div id="sobre">
            <h2> Um pouco sobre mim... </h2>
             </br>
            Meu nome é Nahra Lopes sou  nesse espaço virtual
            tenho com objetivo dar dicas de beleza mostrar os resultados  maravilhosos dos meus pacientes.
            </br></br>
            <p>Tire suas duvidas!!<p></p>
            </br>
              </br>
			Nome:	<br/><input type="text" name="tNome"   placeholder="Digite Nome "></br></br>
			Email:		</br>			<input type="text" name="tEmail" 		   placeholder="Email"></br></br>
            Duvidas:		</br>			<input type="text" name="tDuvidas" 	id="tDuvidas"	   placeholder="Duvidas">
            </br></br>
            <button  id="botaoSocial"  onClick="location href= 'index_versao2'"> Enviar </button>
    </div>
 </div>

</body>
</html>