{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estetica Facial e Corporal-Nahra Lopes</title>
    <link  rel="stylesheet" href="{% static 'css/style.css'%}">

</head>
<body>
<nav id="menu">
    <ul>
        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp

        <li><a href="index" >        Inicial</a></li>
        <li><a href="contato">Contato</a></li>
        <li><a href="localizacao">Localização</a></li>
        <li><a href="sobre">Sobre</a></li>

    </ul>
</nav>
</body>
</html>