	*{
	font-family: 'Poppins', sans-serif;
	font-size:14pt;
	text-align:justify;
	color:BLACK;
	margin:2px;
    font-weight:300 ;

	}
    nav[id="menu"]{
    background:		#D2B48C;
    color:black;
    }
	#menu ul li { display: inline; }
    #menu ul li a {
    padding: 15px 5px;
    display: inline-block;
    background-color:		#D2B48C;
    text-decoration: none;
    border-bottom:3px solid  #A0522D;
    }
    #menu ul li a:hover {
    background-color:white;
    color: pick;
    border-bottom:3px solid #D2B48C;
    }

	body{


    background-repeat: no-repeat;
    background:white;
    opacity:0.98;
    background-size: 100% 100%;

	}

	.content{

	width:100%;
	height:680px;
	margin: auto;
	background-image:url("capas.png");

	background-repeat: no-repeat;
	background-size:100% 100%
	opacity:0.6;

	}
	.content1{
	width:1100px;
	height:600px;
	margin: auto;

	}
	.content2{
	width:1100px;
	height:720px;
	margin: auto;
	}
	.content3{
	width:1100px;
	height:700px;
	margin: auto;
	}
	#formulario{
	background:#D2B48C;
	float: right;
	width:28%;
    padding:40px;
    padding-bottom:80px;
    padding-top:75px;
    opacity:0.85;
	}

    #tag{
	background:#D2B48C;
    padding-left:80px;
    padding-bottom:15px;
    padding-top:15px;
    text-align:justify;
    color:white;
	}

	figure{
	background-color:white;
	float: left;



    margin:auto;
	}

	figure1{
	float: left;
	}

    h1{
	font-family: 'Arial', sans-serif;
	font-size:20pt;
    font-weight:600 ;
    text-align:center;
	color:black;
	}
    p1{
	font-family: 'Arial', sans-serif;
	font-size:20pt;

    text-align:center;
	color:black;
	font-style: italic;
	}
	h2{
	font-family: 'Arial', sans-serif;
	font-size:35pt;

    text-align:center;
	color:black;
	font-style: italic;
	}
	input{
	border-radius:3px;
	width:300px;
	height:25px;
	}
	input[id=tDuvidas]{
	border-radius:3px;
	width:500px;
	height:150px;
	}
	::placeholder{
	text-align:left-top;
	font-style: italic;
	font-size:10pt;
	color:#DCDCDC;
	}
	#botaoSocial{
	width: 200px;
	height: 50px;
	font-family: 'Arial', sans-serif;
	text-align:center;
	font-size:15pt;
	color:	#F5FFFA;
	background-color:black;
	border-color:#696969;
	border-radius:5px;
	border-width:px;
	opacity:0.95;
	float: right;
	}
	#informacoes{
	background-color:#F5F5DC;
	float: right;
	width:53%;
    padding:40px;
    padding-bottom:95px;
    padding-top:70px;
    opacity:0.95;
	}
	#sobre{
	background:#F5F5DC;
	float: right;
	width:64%;
    padding:40px;
    padding-bottom:95px;
    padding-top:70px;
    opacity:0.95;
	}
	#contatos{
	background:white;
	margin:auto;
	width:64%;
    padding:40px;
    padding-bottom:95px;
    padding-top:70px;
    opacity:0.8;
	}
	#localizacao{
	background:#F5F5DC;
	float: right;
	width:30%;
    padding:40px;
    padding-bottom:100px;
    padding-top:100px;
    opacity:0.95;
	}
    h3{
	font-family: 'Arial', sans-serif;
	font-size:25pt;
    font-style: italic;
    text-align:center;
	color:BLACK;
	}
	h4{
	font-family: 'Arial', sans-serif;
	font-size:25pt;
    font-style: italic;
    text-align:left;
	color:BLACK;
	}